.THIS {
}

.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}

.THIS .custom-box {
    text-align: center;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
}
.THIS textarea {
    border: 1px solid #dce4ec;
    border-radius: 4px;
    width: 500px;
    height: 112px;
}

.THIS lightning-input .slds-form-element__label {
    display: none;
}